<!DOCTYPE html>
<html lang="es">
<head>
   {% load static %}
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block title %}Mi Proyecto{% endblock %}</title> 
   <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
   <header>
      <nav>
         <ul>
            <li><a href="{% url 'inicio:index' %}">Inicio</a></li> 
            <li><a href="{% url 'app1:v1' %}">app1 -v1</a></li>
            <li><a href="{% url 'app1:v2' %}">app1 -v2</a></li>
         </ul>
      </nav>
   </header>
   <main>
      {% block content %}

      {% endblock %}
   </main>
   <footer>
      <p>&copy; django projetct templates 2026
      </p>
   </footer>
</body>
</html>